extends /layout/_default-layout

include /module/_svgfillter

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  // - page main
  main
    .opening.js-opening
      .opening-ttlarea
        h1.opening-ttl.js-openingttl
          span.js-openingttl1 落
          span.js-openingttl2 花
        h2.opening-subttl.js-openingsubttl
          span -fall down flowers-
    .hoverlayer.js-hoverlayer
      +svgfillter
    .contents.js-contents
      .carousel.js-carousel
        each val, index in slidelist
          .carousel-slide(data-slide=index).js-slide
            .slide-container.js-slidecontainer
              .slide-img(style=`background-image:url('./img/slide${val.no}.jpg')`)
              .slide-cover.js-slidecover
            h1.slide-ttl(data-color=val.colorid).js-slidettl
              p(class="js-slideno")="#0" + val.no
              p(class="js-slidettl")=val.title
      .carousel-prev
        button.js-prev prev
      .carousel-next
        button.js-next next
      header
        h1.header-ttl 落花
          span -fall down flowers-
        .header-about
          button.js-aboutbtn About
      footer
        small © 2018 MIO
      // - modal
      .modal.js-modal
        .modal-container.js-modalcontainer
          .modal-previewtxt
            h2.modal-no.js-modalno #01
            h1.modal-ttl.js-modalttl Color/DummyTitle
            .modal-link
              a(href="#" target="_blank").js-modallink Instagram
              .modal-linkcover
            .modal-txtarea
              p.modal-txt.js-modaltxt 
              .modal-txtcover
            .modal-close
              button.js-modalclose CLOSE  
          .modal-previewimg.js-modalimg
        span
        span
      .about.js-about
        .about-container
          h2.about-ttl About
          p.about-txt This site is for a series of illustration by drawn MIO. I created this site with considering how to make these paintings looks more glamorous.
            br
            | Hope you feel something from this site, if so, that will contribute to my motivation.
            br
            |
            br
            |
            br
            | このサイトは個人的に描きためたとある連作イラストのためのサイトです。
            br
            | どうやったらWebサイト上でイラストがより映えるように見えるのか・・・という試行錯誤をサイトを作る上でやっていきたいなという思いのもと、
            br
            | 今自分ができる表現を詰め込んだサイトになりました。
            br
            | 未熟なところはまだまだありますが、見る人にとって何か感じるものがあれば私にとってこの上ない喜びです。
            br
            |
            br
            | Web design / Web development / Illustration : MIO
            br
            | Special Thanks : Codrops, h_doxas, GLSL school
          .about-close
              button.js-aboutclose CLOSE
    .loading.js-loading
      p.loading-txt
        span L
        span o
        span a
        span d
        span i
        span n
        span g
    //- .pccheck
    //-   p.pccheck-txt Sorry, pleease access this site from PC.

    